*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial;
}

body{
  background:#f4f6f9;
  padding:15px;
}

.container{
  max-width:1200px;
  margin:auto;
}

.actions{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

button{
  padding:10px;
  border:none;
  background:#2563eb;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

.delete-btn{
  background:red;
}

table{
  width:100%;
  border-collapse:collapse;
  background:white;
}

td,th{
  border:1px solid #ddd;
  padding:8px;
}

input,select{
  width:100%;
  padding:6px;
}

.cell-flex{
  display:flex;
  gap:6px;
}

.summary{
  margin-top:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
}

.main-total{
  font-size:26px;
  margin:10px 0;
}

.person-line{
  display:flex;
  justify-content:space-between;
}

/* LOGIN */
.login-screen{
  position:fixed;
  inset:0;
  background:#111827;
  display:flex;
  align-items:center;
  justify-content:center;
}

.login-box{
  background:white;
  padding:25px;
  border-radius:10px;
  width:280px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

#loginError{
  color:red;
}

/* RESULT */
.positive{color:green;}
.negative{color:red;}