*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f6f9;
  padding:12px;
}

.container{
  max-width:1400px;
  margin:auto;
}

.actions{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

button{
  padding:10px 14px;
  border:none;
  border-radius:8px;
  background:#2563eb;
  color:white;
  cursor:pointer;
}

.delete-btn{
  background:#dc2626;
  min-width:40px;
}

.table-container{
  background:white;
  border-radius:10px;
  overflow:auto;
}

table{
  width:100%;
  border-collapse:collapse;
}

th, td{
  border:1px solid #e2e8f0;
  padding:8px;
  text-align:center;
}

th{
  background:#1e293b;
  color:white;
}

input,
select{
  width:100%;
  padding:8px;
  border-radius:6px;
  border:1px solid #cbd5e1;
}

.money-input,
.income-input{
  text-align:right;
}

.cell-flex{
  display:flex;
  gap:6px;
  align-items:center;
}

.summary{
  margin-top:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
}

.summary-header{
  margin-bottom:15px;
}

.main-total{
  font-size:28px;
  font-weight:bold;
  margin-top:10px;
}

.receive-total{
  color:#2563eb;
}

.result-positive{
  color:#16a34a;
}

.result-negative{
  color:#dc2626;
}

.person-line{
  display:flex;
  justify-content:space-between;
  padding:8px 0;
  border-bottom:1px solid #eee;
}

hr{
  margin:15px 0;
}

/* LOGIN */

.login-screen{
  position:fixed;
  inset:0;
  background:#0f172acc;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.login-box{
  background:white;
  padding:25px;
  border-radius:12px;
  width:280px;
  text-align:center;
}

.login-box input{
  margin:10px 0;
}

#loginError{
  color:red;
  margin-top:10px;
}